body{
    margin: 1%;
    padding:1%;
    background-color: white;
    font-size: 100%;
    min-width: 500px;

}
header{
  background-color:grey;
  padding: 1%;
  margin: 1%;
  text-align: center;
}
header h1{
    font-size: 4rem;
    color:white;

}
section{
  
  background-color:grey;
  padding: 1%;
  margin: 1%;
  text-align: center;
}
h2{
    font-size: 3rem;
    color:blue;

}